<form class="" action="/recipes" method="post">
  <div class="">
    <label for="recipe_name">Recipe Name: </label>
    <input id="recipe_name" type="text" name="name" value="">
  </div>

  <div class="">
    <label for="recipe_ingredients">Recipe Ingredients: </label>
    <input id="recipe_ingredients" type="text" name="ingredients" value="">
  </div>

  <div class="">
    <label for="recipe_cook_time">Recipe Cook Time: </label>
    <input id="recipe_cook_time" type="text" name="cook_time" value="">
  </div>

  <input type="submit" name="" value="Submit" id="Submit">
</form>
