<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Recipe</title>
</head>
<body>
    <form action="/recipes" method="POST">
        <label for="title"><input type="text" name="name"></label>
        <label for="ingredients"><input type="text" name="ingredients"></label>
        <label for="cook-time"><input type="text" name="cook_time"></label>
        <input type="submit" name="submit">
    </form>
</body>
</html>