<form action="/recipes" method="POST">
	<label>Recipe Name: <input type="text" name="name"></label>
	<label>Ingredients: <input type="text" name="ingredients"></label>
	<label>Cook Time: <input type="integer" name="cook_time"></label>
	<input type="submit" value="submit">
</form>
