<h1>Create Recipe Form</h1>
<form action='/recipes' method="post">
    <div>
        <label>Recipe Name: </label>
        <input type="text" name="name">
    </div>
    <div>
        <label>Recipe ingredients: </label>
        <input type="text" name="ingredients">
    </div>
    <div>
        <label>Recipe cook_time: </label>
        <input type="number" name="cook_time">
    </div>
    <input type="submit" id="Submit">
</form>